<div class="selectTeclados">

  <div class="container rounded shadow">
    <div class="nomeProduto">

     <img src="../../../assets/teclado.jpg" alt="teclado mecanico">
      <p>Teclado Mecânico Gamer Ninja Leap, <br>
         Switch Blue, Rainbow, ABNT2, Black </p> <br>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 249,90 por:</span>
        <p class="preco">
          <strong>R$ 129,90</strong>à vista</p>
          <span>7x de R$ 21,83 sem juros</span>
         </div>


    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">

      <img src="../../../assets/teclado2.webp" alt="teclado mecanico parte 2 a volta dos que não foram">
      <p>Teclado Mecânico Gamer Ninja Leap, <br>
         Switch Blue, Rainbow, ABNT2, white</p> <br>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 249,90 por:</span>
        <p class="preco">
          <strong>R$ 99,90</strong>à vista</p>
          <span>5x de R$ 23,51 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">

      <img src="../../../assets/teclado3.webp" alt="teclado gamer ninja">
      <p>Teclado Gamer Ninja Black Noir, <br>
         RGB, Switch Membrana, ABNT2, <br>
          Black, TC-GN-BKNR</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 129,00 por:</span>
        <p class="preco">
          <strong>R$ 69,99</strong>à vista</p>
          <span>4x de R$ 20,59 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">

      <img src="../../../assets/teclado4.jpg" alt="teclado gamer mecanico">
      <p>Teclado Gamer Mecânico Redragon <br>
         Lakshmi, Rainbow, Switch Brown, <br>
          ABNT2, 60%, Black, K606R PT-</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 299,90 por:</span>
        <p class="preco">
          <strong>R$ 159,90</strong>à vista</p>
          <span>9x de R$ 20,90 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">

      <img src="../../../assets/teclado5.jpg" alt="teclado mecanico gamer hoopson">
      <p>Teclado Mecânico Gamer Hoopson <br>
         MJ91, RGB, Switch Blue, ABNT2, <br>
          Black</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 189,90 por:</span>
        <p class="preco">
          <strong>R$ 149,90</strong>à vista</p>
          <span>8x de R$ 22,04 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">

      <img src="../../../assets/teclado6.webp" alt="teclado gamer">
      <p>Teclado Gamer Gamdias Ares P2A, <br>
         Membrana, RGB, ABNT2, USB, Black</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 199,00 por:</span>
        <p class="preco">
          <strong>R$ 119,90</strong>à vista</p>
          <span>7x de R$ 20,15 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">

      <img src="../../../assets/teclado7.jpg" alt="teclado office">
      <p>Teclado Office BRX, ABNT2, Black,<br>
         51049232</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 39,90 por:</span>
        <p class="preco">
          <strong>R$ 19,90</strong>à vista</p>
          <span>1x de R$ 23,41 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <img src="../../../assets/teclado8.jpg" alt="teclado">
      <p>Teclado Gamer Vinik VX Gaming Hydra, LED Blue, ABNT2, Black,<br>
         35570</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 79,90 por:</span>
        <p class="preco">
          <strong>R$ 59,90</strong>à vista</p>
          <span>3x de R$ 23,49  sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">

      <img src="../../../assets/teclado9.webp" alt="">
      <p>Teclado Mecânico Gamer Redragon <br>
         Mitra Lunar K551W, Switch Red, <br>
          ABNT2, White</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 339,90 por:</span>
        <p class="preco">
          <strong>R$ 169,90</strong>à vista</p>
          <span>9x de R$ 22,21 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">

      <img src="../../../assets/teclado10.jpg" alt="teclado mecanico">
      <p>Teclado Mecânico Gamer Cooler <br>
         Master MK770 Macaron, <br>
          Wireless/Bluetooth, RGB, ANSI,</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 989,90 por:</span>
        <p class="preco">
          <strong>R$ 669,90</strong>à vista</p>
          <span>12x de R$ 65,68 sem juros</span>
         </div>

    </div>
  </div>



</div>


