<div class="selectTeclados">

  <div class="container rounded shadow">
    <div class="nomeProduto">


      <p>Teclado Mecânico Gamer Ninja Leap, <br>
         Switch Blue, Rainbow, ABNT2, Black </p> <br>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 249,90 por:</span>
        <p class="preco">
          <strong>R$ 129,90</strong>à vista</p>
          <span>7x de R$ 21,83 sem juros</span>
         </div>


    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Mecânico Gamer Ninja Leap, <br>
         Switch Blue, Rainbow, ABNT2, white</p> <br>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 249,90 por:</span>
        <p class="preco">
          <strong>R$ 99,90</strong>à vista</p>
          <span>5x de R$ 23,51 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Gamer Ninja Black Noir, <br>
         RGB, Switch Membrana, ABNT2, <br>
          Black, TC-GN-BKNR</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 129,00 por:</span>
        <p class="preco">
          <strong>R$ 69,99</strong>à vista</p>
          <span>4x de R$ 20,59 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Gamer Mecânico Redragon <br>
         Lakshmi, Rainbow, Switch Brown, <br>
          ABNT2, 60%, Black, K606R PT-</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De: R$ 299,90 por:</span>
        <p class="preco">
          <strong>R$ 159,90</strong>à vista</p>
          <span>9x de R$ 20,90 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Mecânico Gamer Hoopson <br>
         MJ91, RGB, Switch Blue, ABNT2, <br>
          Black</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 189,90 por:</span>
        <p class="preco">
          <strong>R$ 149,90</strong>à vista</p>
          <span>8x de R$ 22,04 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Mecânico Gamer Hoopson <br>
         MJ91, RGB, Switch Blue, ABNT2, <br>
          Black</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 189,90 por:</span>
        <p class="preco">
          <strong>R$ 149,90</strong>à vista</p>
          <span>8x de R$ 22,04 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Mecânico Gamer Hoopson <br>
         MJ91, RGB, Switch Blue, ABNT2, <br>
          Black</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 189,90 por:</span>
        <p class="preco">
          <strong>R$ 149,90</strong>à vista</p>
          <span>8x de R$ 22,04 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Mecânico Gamer Hoopson <br>
         MJ91, RGB, Switch Blue, ABNT2, <br>
          Black</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 189,90 por:</span>
        <p class="preco">
          <strong>R$ 149,90</strong>à vista</p>
          <span>8x de R$ 22,04 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Mecânico Gamer Hoopson <br>
         MJ91, RGB, Switch Blue, ABNT2, <br>
          Black</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 189,90 por:</span>
        <p class="preco">
          <strong>R$ 149,90</strong>à vista</p>
          <span>8x de R$ 22,04 sem juros</span>
         </div>

    </div>
  </div>

  <div class="container rounded shadow">
    <div class="nomeProduto">
      <p>Teclado Mecânico Gamer Hoopson <br>
         MJ91, RGB, Switch Blue, ABNT2, <br>
          Black</p>

         <div class="precoProduto">
          <span class="text-decoration-line-through">De:  R$ 189,90 por:</span>
        <p class="preco">
          <strong>R$ 149,90</strong>à vista</p>
          <span>8x de R$ 22,04 sem juros</span>
         </div>

    </div>
  </div>



</div>


