.selectTeclados{

  display: flex;
  flex-wrap: wrap;
}

.container{

  height: 300px;
  background-color: white;
  margin: 0.5%;
  padding: 20px;
 cursor: pointer;
 display: flex;
 flex: 1 0 19%;
 box-sizing: border-box;

}

.preco{
  color: rgb(13, 194, 13);
  margin: 0;
}

strong{
  font-size: 20px;
}

span{
  color: rgb(160, 159, 159);
  font-size: 15px;
}

@media (max-width: 1200px){
  .container{
    flex: 1 0 24%; /*4 itens*/
  }
}

@media (max-width: 992px){
  .container{
    flex: 1 0 32%; /*3 itens*/
  }
}

@media (max-width: 768px){
  .container{
    flex: 1 0 49%; /*2 itens*/

  }
}

@media (max-width: 576px){
  .container{
    flex: 1 0 100%; /*1 itens*/
  }
}




