<section class="container">
  <div class="slider-wrapper">
    <div class="slider">

      <img id="slide-1" src="../../../assets/imagem-teclados1.jpg" alt="teclado_slides">

      <img id="slide-2" src="../../../assets/imagem-teclados2.jpg" alt="teclado_slides">

      <img id="slide-3" src="../../../assets/imagem-teclados3.jpg" alt="teclado_slides">


    </div>
    <div class="slider-nav">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
    </div>
  </div>
</section>
