div{
  display: flex;
  justify-content: flex-end;
}

strong{
  font-size: 15px;
  color: orangered;
  margin-top: 10px;
}

button{
 margin: 5px;
border-radius:2px;
  border: 1px solid rgb(119, 119, 119);
  color: rgb(44, 44, 44);
  padding: 5px;
}

button:hover{
    color: white;
    background-color: orangered;
}

.dropdown-container{
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.dropdown-content{
position: absolute;
min-width: 160px;
box-shadow: 0 px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
top: 100%;
left: -80px;
}







