<div>
  <strong>FILTRAR:</strong>

  <div class="dropdown-container">
    <button *ngIf="!SelectedBrand" (click)="escolherMarca()">Marcas</button>
    <div class="dropdown-content" *ngIf="MostrarMarcas">
      <app-brand-selector
        (BrandSelected)="onBrandSelected($event)">
      </app-brand-selector>
  </div>
  </div>


  <button class="SelectedBrand" *ngIf="SelectedBrand">
    {{ SelectedBrand }}
  </button>

  <div class="dropdown-container">
    <button *ngIf="!SelectedOrdem" (click)="escolherOrdem()">
      Ordenar por
    </button>
    <div class="dropdown-content" *ngIf="MostrarOrdem">
      <app-ordem-selector
        (OrdemSelected)="onOrdemSelected($event)"
      ></app-ordem-selector>

    </div>

  </div>
  <button class="SelectedOrdem" *ngIf="SelectedOrdem">
    {{ SelectedOrdem }}
  </button>
</div>
