.largura{
  width: 800px;
  margin-left: 40px;
 margin-right: 15px;

}

input:focus, textarea:focus{
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}

.pesquisa{
  padding: 10px;
}

.pesquisar_botão{
  background-color: orangered;
}

.pesquisar_botão:hover{
  background-color: rgb(202, 54, 0);
}

.carrossel{
  margin: 0 auto;
width: 800px;
height: 400px;
overflow: hidden;
}

.sliders{
  width: 400%;
  height: 400px;
  display: flex;

}

.sliders input{
  display: none;
}

.slide{
  width: 3000px;
height: 100px;
position: relative;
}

.slide img{
  width: 800px;
}

.manual-navegar{
  position:absolute;
  width: 800px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #979797;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}
