<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a style="color: white;" class="navbar-brand" href="#">Loja de teclados</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex largura" role="search">
        <input class="form-control me-2 pesquisa" type="search" placeholder="Pesquise seu produto" aria-label="Search">
        <button class="btn btn-outline pesquisar_botão" type="submit">Pesquisar</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: white;"  class="nav-link active" aria-current="page" href="#">Entre, ou <br> cadastre-se</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<div class="carrossel">

  <div class="sliders">

    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">

    <div class="slide first">
      <img src="../../../assets/imagem-teclados1.jpg" alt="imagem 1">
    </div>

    <div class="slide">
      <img src="../../../assets/imagem-teclados2.jpg" alt="imagem 2">
    </div>

    <div class="slide">
      <img src="../../../assets/imagem-teclados3.jpg" alt="imagem 3">
    </div>

    <div class="navegar">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
    </div>

  </div>

  <div class="manual-navegar">
    <label for="radio1" class="manual-btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
  </div>

</div>
